<?xml version="1.0" encoding="UTF-8" ?>
<config>
        <sleepTime value="5000"></sleepTime>
        <feedbackFrequency value="10" />
        <redisList>
            <redis ip="127.0.0.1" port="6557" />
        </redisList>
        <databases>
            <database ip="127.0.0.1" port="3306" user="aqe" pwd="qqqq" dbSchme="rmcs" >
                <parms>
                    <parm name="charset" value="utf8" />
                </parms>
            </database>
        </databases>
	<groups>
		<group name = "bitorobotics">
			<family name = "arm">
				<names>
					<name>left arm</name>
			
					<name>right arm</name>
				</names>
			</family>
			
			<family name = "leg">
				<names>
					<name>left leg</name>

					<name>right leg</name>
				</names>
			</family>
			
			<family name = "body">
				<names>
					<name>left part</name>

					<name>right part</name>
				</names>
			</family>

		</group>
		
	<group name = "machine learning">
			<family name = "algo">
				<names>
					<name>neutral network</name>
					
					<name>CNN</name>
				</names>
			</family>
			
			<family name = "quality">
				<names>
					<name>space complexity</name>

					<name>time complexity</name>
				</names>
			</family>
			
		</group>

	</groups>
</config>