<?xml version="1.0" encoding="UTF-8" ?>
<config>
        <sleepTime value="5000"></sleepTime>
        <feedbackFrequency value="10" />
        <redisList>
            <redis ip="127.0.0.1" port="6557" />
        </redisList>
        <databases>
            <database ip="127.0.0.1" port="3306" user="aqe" pwd="qqqq" dbSchme="rmcs" >
                <parms>
                    <parm name="charset" value="utf8" />
                </parms>
            </database>
        </databases>
	<groups>
		<group name = "bitorobotics">
			<family name = "SEA-Snake">
				<names>
					<name>SA011</name>
				</names>
			</family>
			
			<family name = "Spare">
				<names>
					<name>SA035</name>
				</names>
			</family>

		</group>

	</groups>
</config>